/backend/data/videos/
/backend/data/records/
/backend/yolo*

/backend/data/alerts/alerts.json
/backend/__pycache__/
/backend/*.pyc
/backend/.env
/backend/.idea/*
/backend/.idea


/frontend/node_modules/

/.idea
/.idea/*

